$primary-blue01: #24388d;
$primary-blue02: #5b6aa9;
$primary-blue03: #919bc6;
$primary-blue04: #c8cde2;

$secondary-lblue01: #bae5fb;
$secondary-violet01: #31287c;

$tertiary-white01: #fefefe;
$tertiary-black01: #0f0f0f;
$tertiary-lgray01: #878787;
$tertiary-snow01: #f5f5f5;

$accent-amber01: #d2c9b6;
$accent-cream02: #f4ca54;