@import '@euid/scss-mixins';
@import '../config';

.app-header-container {
	.app-header {
		position: relative;

		@include media('<=mobile') {
			height: rem(50px);
		}

		@include media('>mobile') {
			@include flex-container(justify-start items-center);
			width: 740px;
			height: 50px;
			margin: 0 auto;
		}
	}

	.brand {
		@include media('<=mobile') {
			$pad: 18px;
			padding: rem($pad) 0 0 rem($pad);
			padding: rem($pad) 0 0 rem($pad);
			//@include space(rem(18px), r);
		}

		img {
			@include media('<=mobile') {
				width: rem(140px);
				height: rem(14px);
			}
	
			@include media('>mobile') {
				width: 140px;
				height: 14px;
			}
		}
	}

	.app-navigation {
		@include media('<=mobile') {
			display: none;
			position: fixed;
			z-index: 10;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			padding: rem(66px) rem(10px) 0;
			background: rgba(20, 24, 44, 1); // alt-color()

			&.is-active {
				display: block;
			}
		}

		@include media('>mobile') {
			margin-left: auto;
		}
	}

	.reset-list {
		li {
			@include media('<=mobile') {
				border-bottom: 1px solid get-color(primary-blue02);
			}

			@include media('>mobile') {
				display: inline-block;
				margin-left: 8px;
			}
		}
		
		a {
			@include media('<=mobile') {
				display: block; // @include show()
				@include mx(-10px);
				@include font-size-padding(14, 12px 22px);
				color: get-color(accent-white01);
				line-height: rem(15px);

				&:hover {
					background: get-color(primary-blue01);
				}
			}

			@include media('>mobile') {
				font-size: 15px;
				color: get-color(primary-blue01);
			}
		}
	}

	.button {
		&.is-open-menu {
			@include media('<=mobile') {
				$pos: 0;
				$size: rem(50px);
		
				@include absolute(r $pos t $pos);
				width: $size;
				height: $size;
		
				.ir {
					display: block; // @include show()
					width: rem(18px);
					height: rem(14px);
					margin: auto;
					background: url(../images/button-navigation.svg) no-repeat 50%;
				}
			}
	
			@include media('>mobile') {
				display: none; // @include hide()
			}
		}

		&.is-close-menu {
			@include media('<=mobile') {
				$pos: rem(8px);
				$size: rem(50px);
	
				@include absolute(r $pos t $pos);
				@include flex-container(justify-center items-center);
				width: $size;
				height: $size;
			}

			@include media('>mobile') {
				display: none;
			}

			.close {
				$pos: 50%;
				$size: rem(16px);

				width: $size;
				height: $size;
				font-size: rem(28px);
				line-height: 0.3;
				color: get-color(accent-snow01);
			}
		}
	}
} //.app-header-container